cat << 'EOF' > /etc/systemd/system/udpgw.service
[Unit]
Description=BadVPN UDPGW Service - by Ayah Alma
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/badvpn-udpgw --listen-addr 127.0.0.1:7300 --max-clients 500
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
EOF
