[Unit]
Description=BadVPN UDPGW Service - by Ayah Alma[span_3](start_span)[span_3](end_span)
After=network.target[span_4](start_span)[span_4](end_span)

[Service]
Type=simple[span_5](start_span)[span_5](end_span)
User=root
ExecStart=/usr/local/bin/badvpn-udpgw --listen-addr 127.0.0.1:7300 --max-clients 500[span_6](start_span)[span_6](end_span)
Restart=always[span_7](start_span)[span_7](end_span)
RestartSec=5

[Install]
WantedBy=multi-user.target[span_8](start_span)[span_8](end_span)

