[Unit]
Description=SSH SSL WebSocket Service - by Ayah Alma
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/env python3 /usr/local/bin/ws-stunnel 2096
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
